<div class="uk-button-group sui-segmented-button" id={{id}}>
  {{#each buttons}}
  <button class="uk-button uk-button-primary sui-segmented-button-button" data-view-option={{this.data}}>{{this.button}}</button>
  {{/each}}
</div>